html,
body {
  height: 100%;
  margin: 0;
}
.wrap {
  max-width: 768px;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
#needle {
  padding-top: 130px;
  background-size: 100% auto;
  background-image: url(../images/bj01.jpg);
  background-repeat: no-repeat;
  background-color: #F3D398;
}
#wheel {
  padding-top: 130px;
  background-size: 100% auto;
  background-image: url(../images/home-page.jpg);
  background-repeat: no-repeat;
  background-color: #EA3836;
}
