body{line-height:1.4; color:#333; font-family:arial "microsoft yahei" ; font-size: 12px;background:#f3d398;}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,form,i,b,u,span{margin:0;padding: 0;}
ul,li{padding-left:0; list-style-type:none;}
a{text-decoration:none; outline:none;-webkit-touch-callout:none;}
.clear{clear:both;}
.top_bj{background:url(../images/bj.png) no-repeat;width: 100%;height: 100%;-webkit-background-size: cover;background-size: cover;}
.home{position: absolute;background:url(../images/home.png) no-repeat;
-webkit-background-size: cover;background-size: cover;width: 11%;height: 9%;top:8%;right:8%;}
.round{position: absolute;background:url(../images/round.png) no-repeat;
-webkit-background-size: cover;background-size: cover;width: 89%;height:73.2%;top:22.1%;right:5.6%;}
.needle{position: absolute;background:url(../images/needle.png) no-repeat;
-webkit-background-size: cover;background-size: cover;width: 40%;height:40%;top:30%;right:30%;}
.round ul li span{position: absolute;color: #de8037;font-weight: bold;font-size: 16px;font-size:5.5vw;}
.round ul li:first-child{position: absolute;top:3.6%;right:52.5%;}
.round ul li:nth-child(2){position: absolute;top:24.5%;right:13%;-webkit-transform:rotate(55deg);}
.round ul li:nth-child(3){position: absolute;top:70%;right:9.6%;-webkit-transform:rotate(123deg);}
.round ul li:nth-child(4){position: absolute;top:95.1%;right:46.5%;-webkit-transform:rotate(180deg);}
.round ul li:nth-child(5){position: absolute;top:74.5%;right:88.2%;-webkit-transform:rotate(236deg);}
.round ul li:last-child{position: absolute;top:30.4%;right:91%;-webkit-transform:rotate(297deg);}


.title1{background: #80b330;width:70px;height:24px;color: #fff;line-height: 24px;text-indent:0.5em;margin-left:7px;border: 2px solid #fff;font-size: 14px;margin-top: 6px;}
.title2{background: #80b330;width:60px;height:24px;color: #fff;line-height: 24px;text-indent:0.5em;margin-left:7px;border: 2px solid #fff;font-size: 14px;margin-top: 6px;float: left;}
.down p{color: #5c4124;padding:3px 5px 0px 20px;}
.down p span{color: #ec4047;}
.down{margin-bottom: 15px;}
.down ul{float: left;margin-top: 4px;}
.down ul li{float: left;margin-left:5px;background: #fff;border-radius: 50%;}
.down ul li .sina{background:url(../images/share.png) -6px -6px;width:30px;height:30px;-webkit-background-size:190.8px 42px;background-size: 190.8px 42px;display:block;border: 2px solid #d52b2a;border-radius: 50%;}
.down ul li .tengxun{background:url(../images/share.png) 135px -7px;width:30px;height:30px;-webkit-background-size:190.8px 42px;background-size: 190.8px 42px;display:block;border: 2px solid #4b9be3;border-radius: 50%;}
.down ul li .douban{background:url(../images/share.png) 86px -7px;width:30px;height:30px;-webkit-background-size:190.8px 42px;background-size: 190.8px 42px;display:block;border: 2px solid #6a8d74;border-radius: 50%;}
.down ul li .renren{background:url(../images/share.png) 37px -7px;width:30px;height:30px;-webkit-background-size:190.8px 42px;background-size: 190.8px 42px;display:block;border: 2px solid #005eac;border-radius: 50%;}

.lucky{color:#ec4047;font-size:16px;text-align: center;}

/*中奖弹出框*/
.box1{position: absolute;background:url(../images/tck.png) no-repeat;
-webkit-background-size: cover;background-size: cover;width:100%;height:60%;top:28%;display: none;}
.box1 span{position: absolute;color:#ec4047;font-size:22px;top:58%;left:69%;}
.gx{position: absolute;background:url(../images/gx1.png) no-repeat;
-webkit-background-size: cover;background-size: cover;width:100%;height:76.6%;top:11.9%;}
.off_btn{position: absolute;background:url(../images/off.png) no-repeat;
-webkit-background-size: cover;background-size: cover;width:10.5%;height:14%;top:14%;left:89%}
.figure{position: absolute;background:url(../images/gift.png) no-repeat;
-webkit-background-size: cover;background-size: cover;width:42%;height:35%;top:40%;left:28%;}
.text{position: absolute;background:url(../images/zj.png) no-repeat;
-webkit-background-size: cover;background-size: cover;width:75%;height:29%;top:17%;left:12%;}
.share{position: absolute;top:74%;left:20%;}
.box1 font{color:#80b330;font-size:16px;display: block;float: left;padding-top:8px;}
.box1 ul{float: left;margin-top: 4px;}
.box1 ul li{float: left;margin-left:5px;}
.box1 ul li .sina{background:url(../images/share.png) -6px -6px;width:24px;height:24px;-webkit-background-size:159px 35px;background-size: 159px 35px;display:block;border: 2px solid #d52b2a;border-radius: 50%;}
.box1 ul li .tengxun{background:url(../images/share.png) 112px -7px;width:24px;height:24px;-webkit-background-size:159px 35px;background-size:159px 35px;display:block;border: 2px solid #4b9be3;border-radius: 50%;}
.box1 ul li .douban{background:url(../images/share.png) 72px -6px;width:24px;height:24px;-webkit-background-size:159px 35px;background-size: 159px 35px;display:block;border: 2px solid #6a8d74;border-radius: 50%;}
.box1 ul li .renren{background:url(../images/share.png) 31px -6px;width:24px;height:24px;-webkit-background-size:159px 35px;background-size: 159px 35px;display:block;border: 2px solid #005eac;border-radius: 50%;}



/*没中奖弹出框*/
.box2{position: absolute;background:url(../images/tck.png) no-repeat;
-webkit-background-size: cover;background-size: cover;width:100%;height:60%;top:28%;display: none;}
.box2 .gx{position: absolute;background:url(../images/gx2.png) no-repeat;
-webkit-background-size: cover;background-size: cover;width:100%;height:76.6%;top:11.9%;}
.box2 .text{position: absolute;background:url(../images/mzj.png) no-repeat;
-webkit-background-size: cover;background-size: cover;width:75%;height:23.9%;top:17%;left:12%;}
.box2 .figure{position: absolute;background:url(../images/heart.png) no-repeat;
-webkit-background-size: cover;background-size: cover;width:26%;height:29%;top:46%;left:36%;}

/*机会用完*/
.box3{position: absolute;background:url(../images/tck.png) no-repeat;
-webkit-background-size: cover;background-size: cover;width:100%;height:60%;top:28%;display: none;}
.box3 .gx{position: absolute;background:url(../images/gx2.png) no-repeat;
-webkit-background-size: cover;background-size: cover;width:100%;height:76.6%;top:11.9%;}
.box3 .text{position: absolute;background:url(../images/jhml.png) no-repeat;
-webkit-background-size: cover;background-size: cover;width:77%;height:23.9%;top:37%;left:12%;}

/*注册*/
.box4{position: absolute;background:url(../images/tck.png) no-repeat;
-webkit-background-size: cover;background-size: cover;width:100%;height:60%;top:28%;display: none;}
.box4 .form{position: absolute;top:24%;left:10%;width:78%;}
.box4 .form .import{margin-top: 10px;}
.box4 .form .name{color: #ec4047;font-size: 18px;float:left;width: 73px;height: 34px;line-height: 34px;text-align: center;}
.box4 .form .code_btn{width:70px;background: #d9b07a;border-radius: 5px;height:30px;color: #fff;text-align: center;line-height: 30px;float:right;margin-top: 2px;}
.box4 .form .cont{height:40px;margin-left: 73px;}
.box4 .form .cont2{height:40px;margin-left: 73px;margin-right:78px;}
.box4 .form input{border: 1px solid #a6a6a6;height:30px;border-radius: 5px;width:100%;}
.box4 .form a{color: #fff;font-size: 14px;}
.box4 .form .improt_btn{background: #ec4047;width:38px;height:25px;border-radius: 5px;padding:5px 0px 0px 12px;float: right;margin-top: 5px;color: #fff;font-size: 14px;}

/*登录*/
.box4 .form .improt_btn2{background: #d9b07a;width:38px;height:25px;border-radius: 5px;padding:5px 0px 0px 12px;float: right;margin-right: 7px;margin-top: 5px;}


.fadein{-webkit-animation:fadein 1s 0s ease both;}
.fadeout{-webkit-animation:fadeout 1s 0s ease both;}
.fadeoutleft{-webkit-animation:fadeoutleft 1s 0s ease both;}
.fadeinright{-webkit-animation:fadeinright 1s 0s ease both;}
.rotate{-webkit-transition:-webkit-transform 500ms;-webkit-transform:rotate(360deg;);}
@-webkit-keyframes fadein{
		0%{opacity:1;
		-webkit-transform:translateY(-1000px)}
		50%{opacity:1;
		-webkit-transform:translateY(25px)}
		100%{opacity:1;
		-webkit-transform:translateY(0)}
		}
@-webkit-keyframes fadeout{
		0%{opacity:1;
		-webkit-transform:translateY(0px)}
		100%{opacity:1;
		-webkit-transform:translateY(-1000px);}
		}
@-webkit-keyframes fadeoutleft{
		0%{opacity:1;
		-webkit-transform:translateY(0px)}
		100%{opacity:1;
		-webkit-transform:translateY(-1000px);}
		}
@-webkit-keyframes fadeinright{
		0%{opacity:1;
		-webkit-transform:translateY(1000px)}
		100%{opacity:1;
		-webkit-transform:translateY(0px);}
		}

